body {
	background: url('../images/treetops_bkg.jpg');
	background-repeat: repeat-y;
	background-size: contain;
	font-family: Georgia, serif;

	html {
		font-size: 10px;
	}

	.box {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		height: 600px;
	}

	. {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		height: 500px;
	}

	iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 0;
	}

	img {
		width: 100%;
		height: 100%;
		align-content: center;
	}

	h1 {
		font-size: 5rem;
		color: white;
		text-align: center;
		text-shadow: 3px 3px 5px goldenrod,
								-3px -3px 5px goldenrod;
	}

	h2 {
		font-size: 3rem;
		color: white;
		text-align: center;
		text-shadow: 3px 3px 5px goldenrod,
								-3px -3px 5px goldenrod;
	}

	p {
		font-size: 1.8rem;
		color: white;
		text-align: center;
		line-height: 1.3
	}

	li {
		font-size: 1.5rem;
		color: white;
		list-style-position: inside;
		padding-left: 40%;
	}

a {
	color: goldenrod;
}

	footer {
		font-size: 1rem;
		color: white;
	}
}
